// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.ho-highlight {
  background-color: #FFE5CC;
  border-bottom:2px solid #FFB266
}

mark::before,
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

mark::before {
  content: " [highlight start] ";
}

mark::after {
  content: " [highlight end] ";
}

.app-summary-card {
    border: 1px solid $govuk-border-colour;
    /* Card header */
    .app-summary-card__header {
      align-items: center;
      background-color: white;
      border-bottom: 1px solid $govuk-border-colour;
      padding: govuk-spacing(3);
      @include govuk-media-query($from: desktop) {
        display: flex;
        justify-content: space-between;
        align-items: start;
      }
    }
    .app-summary-card__title {
      @include govuk-font($size: 19);
      margin: 0;
    }
    .app-summary-card__meta {
      @include govuk-font($size: 16);
      display: block;
      margin: 0;
    }
    .app-summary-card__actions {
      @include govuk-font($size: 19);
    }
    .app-summary-card__actions-list {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .app-summary-card__actions-list-item {
      display: block;
      white-space: nowrap;
      @include govuk-media-query($from: desktop) {
        display: inline-block;
        margin-left: govuk-spacing(2);
        text-align: right;
      }
    }
    .app-summary-card__actions-list-item:first-child {
      margin-left: 0;
    }
    /* Card body */
    .app-summary-card__body {
      @include govuk-font($size: 19);
      padding: govuk-spacing(3);
      background-color: white;
    }
    .app-summary-card__body + .app-summary-card__body {
      border-top: 1px solid $govuk-border-colour;
    }
    .govuk-table,
    .govuk-summary-list,
    .govuk-table {
      margin-bottom: 0;
    }
    .govuk-summary-list__row:last-child,
    .govuk-summary-list__row:last-child > *,
    .govuk-table_row:last-child .govuk-table_cell {
      border-bottom: 0;
    }
  }
  .app-summary-card--large-title .app-summary-card__title {
    @include govuk-font($size: 24, $weight: bold);
  }
  @media print {
    .app-summary-card__header {
      break-inside: avoid;
    }
    .app-summary-card__actions {
      display: none;
    }
  }
