
{% extends "layout.html" %}

{% block pageTitle %}
  Home – Highlight prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Highlighting important information
      </h1>
    <p>A prototype used to document design iterations for a highlight pattern, to be implemented on the Home Office design system.</p>
      <h2 class="govuk-heading-m">Iteration 1 - Entity search design</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="iteration-1/ho-style">Home Office page style</a>
        </li>
        <li>
          <a href="iteration-1/gov-style">GOV.UK page style</a>
        </li>
      </ul>


      <h2 class="govuk-heading-m">Iteration 2 - adding accessible semantics</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="iteration-2/ho-style">Home Office page style</a>
        </li>
        <li>
          <a href="iteration-2/gov-style">GOV.UK page style</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
