
{% extends "layout.html" %}

{% block pageTitle %}
  Home – Highlight prototype
{% endblock %}

{% block content %}
<a href="#1" onClick="history.go(-1); return false;" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Highlighting important information
      </h1>

      <h2 class="govuk-heading-m">Research scenarios</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="scenario-1/search">Scenario 1</a>
        </li>
        <li>
          <a href="scenario-3/search">Scenario 2</a>
        </li>
        <li>
          <a href="scenario-4/search">Scenario 3</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
